<ng-container *ngIf="settings$ | async as settings">

    <div>
        <ng-container *ngIf="avgBeerRatings$ | async as avgBeerRatings">
            <div *ngFor="let beer of avgBeerRatings.slice(0, 3); index as i">
                <div>
                    <h2><span>Platz {{i+1}}: {{beer.beer.name}}</span></h2>
                </div>
                <nz-rate [ngModel]="beer.rating" nzDisabled></nz-rate>
            </div>
        </ng-container>
    </div>

    <!-- <ng-container *ngIf="angriestBeer$ | async as angriestBeer">
    <ng-container *ngIf="angriestBeer.length > 0">
        <div><h2><span> Wütendster Saft: {{angriestBeer[0].beer}}</span></h2></div>
        <beer-radar-chart [faceExpression]="angriestBeer[0].avg" [dimensions]="{width: 300, height: 300}"></beer-radar-chart>
    </ng-container>
</ng-container> -->
    <div>
        <ng-container *ngIf="happiestBeer$ | async as happiestBeer">
            <ng-container *ngIf="happiestBeer.length > 0">
                <div>
                    <h2><span>Fröhlichster Saft: {{happiestBeer[0].beer.name}}</span></h2>
                </div>
                <beer-radar-chart [faceExpression]="happiestBeer[0].avg"
                    [dimensions]="{width: 300, height: 300}"></beer-radar-chart>
            </ng-container>
        </ng-container>
    </div>

    <div>
        <ng-container *ngIf="sadestBeer$ | async as sadestBeer">
            <ng-container *ngIf="sadestBeer.length > 0">
                <div>
                    <h2><span> Traurigster Saft: {{sadestBeer[0].beer.name}}</span></h2>
                </div>
                <beer-radar-chart [faceExpression]="sadestBeer[0].avg"
                    [dimensions]="{width: 300, height: 300}"></beer-radar-chart>
            </ng-container>
        </ng-container>
    </div>

</ng-container>

<!-- 
<ng-container *ngIf="mostSurprisedBeer$ | async as mostSurprisedBeer">
    <ng-container *ngIf="mostSurprisedBeer.length > 0">
        Überraschendster Saft: {{mostSurprisedBeer[0].beer}}
    </ng-container>
</ng-container> -->


<ng-template #beerIcon><beer-icon [name]="'beer'" [type]="'solid'" sizing="fill"></beer-icon></ng-template>