<div id="container" class="row-center">
    <div class="col-center">
        <div><h2><span>Bier Nr. {{reaction.beer.assignedNumber}}:</span></h2></div>
        <div><h2><span>{{reaction.beer.name}}</span></h2></div>
        <div><nz-rate [ngModel]="reaction.rating" nzDisabled></nz-rate></div>
    </div>
        <div>
        <beer-radar-chart [faceExpression]="avgExpressions" [dimensions]="{width: 300, height: 300}"></beer-radar-chart>
    </div>
</div>

<ng-template #beerIcon><beer-icon [name]="'beer'" [type]="'solid'" sizing="fill"></beer-icon></ng-template>
