<div *ngIf="faceExpression">
    <div class="expression"><span>neutral:</span><span>{{faceExpression.neutral.toFixed(precision)}}</span></div>
    <div class="expression"><span>happy:</span><span>{{faceExpression.happy.toFixed(precision)}}</span></div>
    <div class="expression"><span>sad:</span><span>{{faceExpression.sad.toFixed(precision)}}</span></div>
    <div class="expression"><span>angry:</span><span>{{faceExpression.angry.toFixed(precision)}}</span></div>
    <div class="expression"><span>fearful:</span><span>{{faceExpression.fearful.toFixed(precision)}}</span></div>
    <div class="expression"><span>disgusted:</span><span>{{faceExpression.disgusted.toFixed(precision)}}</span></div>
    <div class="expression"><span>surprised:</span><span>{{faceExpression.surprised.toFixed(precision)}}</span></div>
</div>