::ng-deep .ant-layout,
.ant-layout-header {
    background: unset !important;
}

::ng-deep .ant-layout-header {
    min-height: 100px;
    height: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
}

:host ::ng-deep .userdata-uploader {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}


main {
    width: 100%;
    display: flex;
    justify-content: center;
}

#logo-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 768px;
    height: 100px;
    padding: min(10%, 20px) 20px;
}

#logo {
    max-width: 300px;
    height: auto;
    float: right;
}