/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'appfont';
    src: url('assets/fonts/AlwynNew-LT.otf');
}

body {
    font-family: 'appfont', sans-serif;
    line-height: 1.6;
    color: #231F20;
    margin: 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.column>div {
    width: 100%;
}

button {
    border-radius: 5px !important;
}

.ant-btn {
    color: unset;
}

// button {
//     font-family: 'appfont', sans-serif;
//     background: white;
//     border: 1px solid #d0d0d0;
//     padding: 10px;
//     border-radius: 5px;
//     min-width: 100px;
//     cursor: pointer;
// }

// button[disabled] {
//     color: rgba(0, 0, 0, .25);
//     background-color: #f5f5f5;
//     box-shadow: none;
//     outline: none !important;
//     cursor: not-allowed;
// }

// button:not([disabled]):hover {
//     border: 1px solid #4e4e4e;
// }

select {
    padding: 10px;
    border-radius: 5px;
}

button.icon {
    padding: 0px 7px;
    min-width: 40px;
    color: #898989;
}

// utilities

.hidden {
    display: none !important;
}

.col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}